<div class="accordion" *ngFor="let review of reviews; let i=index" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        [attr.data-bs-target]="'#collapseOne'+i" 
        aria-expanded="true" 
        [attr.aria-controls]="'collapseOne'+i">
          <i class="bi bi-star" ></i> <b>{{review.rate}}/10 </b > - Review {{i+1}}
        </button>
      </h2>
      <div id="collapseOne{{i}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>{{review.description}}</p>
            <p class="blockquote-footer">
                {{review.author}}
            </p>
            <p>
                <i>{{review.Reviewrate}} out of 100 found this useful.</i>
            </p>
        </div>
      </div>
    </div>
  </div>